/* *<---------- CUSTOM PROPERTY ---------->* */

@import url('https: //fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {

  /* *< COLORING >* */

  --primary: #4EB7F2;
  --main-background: #F7F9FA;
  --border-color: #F1F1F1;
  --white: #FFFFFF;
  --white-2: #FAFAFA;
  --white-3: #F1F1F1;
  --gray: #C4C4C4;
  --light-gray: #AAAAAA;
  --blue: #064061;
  --light-blue: #4EB7F2;
  --light-blue-hover: #479ed1;
  --rose: #F3735E;
  --mint: #7DD97B;

  /* *< END OF COLORING >* */

  /* *< TYPOGRAPHY >* */

  /* FONT-FAMILY */
  --ff-montserrat: 'Montserrat', sans-serif;

  /* FONT SIZE */
  --fs-1: 24px;
  --fs-2: 22px;
  --fs-3: 20px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 14px;
  --fs-7: 12px;

  /* FONT WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /* *< END OF TYPOGRAPHY >* */
  
  /* *< BORDER >* */

  --border-radius: 12px;

  /* *< END OF BORDER >* */
}

/* *<---------- END OF CUSTOM PROPERTY ---------->* */



/* *<---------- RESET ---------->* */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--primary);
  color: var(--white);
}

:focus {
  outline-color: var(--primary);
}

#dashboard {
  font-family: var(--ff-montserrat);
  scroll-behavior: smooth;
}

#dashboard {
  background: var(--main-background);
}

/* *<---------- END OF RESET ---------->* */


/* *<---------- CONTAINER ---------->* */

#dashboard .container-fluid {
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* *<---------- END OF CONTAINER ---------->* */


/* *<---------- SIDE BAR ---------->* */

#dashboard .container-fluid .sideBar {
  height: 100vh;
  background-color: var(--white);
  padding: 35px 0;
}

#dashboard .sideBar .picture {
  width: 80%;
  height: 70px;
  margin: auto;
  background-color: var(--gray);
  margin-bottom: 20px;
}

#dashboard .sideBar .picture img {
  height: 45%;
}

#dashboard .sideBar .profile {
  width: 95%;
  height: 80px;
  margin: auto;
  border-radius: var(--border-radius);
  background-color: var(--white-2);
  margin-bottom: 20px;
}

#dashboard .sideBar .profile .frame {
  height: 80px;
}

#dashboard .sideBar .profile img {
  width: 53px;
}

#dashboard .sideBar .profile .username {
  margin-left: -10px;
}

#dashboard .sideBar .profile .username p:nth-child(1) {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  color: var(--blue);
  margin: 0;
}

#dashboard .sideBar .profile .username p:nth-child(2) {
  font-size: var(--fs-5);
  color: var(--light-gray);
  margin: 0;
}

#dashboard .sideBar .menu {
  width: 100%;
  height: max-content;
  padding: 10px 20px;
  border-radius: var(--border-radius);
}

#dashboard .sideBar .menu .dashboard {
  padding: 7px;
  border-right: 5px solid var(--light-blue);
  cursor: pointer;
}

#dashboard .sideBar .menu .dashboard img {
  width: 30px;
}

#dashboard .sideBar .menu .dashboard p {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  color: var(--light-blue);
  margin: 0;
}

/* *<---------- END OF SIDE BAR ---------->* */


/* *<---------- MAIN CONTENT ---------->* */

#dashboard .container-fluid .mainContent {
  padding: 0;
  height: 100vh;
  overflow: auto;
}

#dashboard .mainContent .row:nth-child(1) {
  padding: 35px 0;
  margin: 0;
}

#dashboard .mainContent .leftSide {
  padding: 0 0 0 30px;
}

/* LEFT SIDE */
/* ALL EXPENSES */

#dashboard .mainContent .leftSide .AllExpensesCard {
  width: 100%;
  height: max-content;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--white);
}

#dashboard .mainContent .leftSide .AllExpensesCard .header {
  margin-bottom: 15px;
}

#dashboard .mainContent .leftSide .AllExpensesCard .header .title {
  font-size: var(--fs-3);
  margin: 0;
  font-weight: var(--fw-600);
  color: var(--blue);
}

#dashboard .mainContent .leftSide .AllExpensesCard .header .btn-dropdown {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--fs-6);
  color: var(--blue);
  padding: 10px 15px;
}

#dashboard .mainContent .leftSide .AllExpensesCard .header .dropdown-menu {
  border: 1px solid var(--border-color);
}

#dashboard .mainContent .leftSide .AllExpensesCard .header .dropdown-menu li {
  cursor: pointer;
  font-size: var(--fs-6);
}

#dashboard .mainContent .leftSide .AllExpensesCard .header .dropdown-menu li:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .card {
  width: 100%;
  padding: 16px 20px;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid var(--border-color);

}

#dashboard .mainContent .leftSide .AllExpensesCard .content .card .card-header {
  background: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 25px;
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .card img {
  width: 55px;
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .card .card-header h6 {
  margin: 0;
  color: var(--blue);
  cursor: pointer;
  font-weight: var(--fw-600);
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .card .card-content {
  background: transparent;
  border: 0;
  padding: 0;
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .card .card-content p:nth-child(1) {
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  color: var(--blue);
  margin-bottom: 4px;
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .card .card-content p:nth-child(2) {
  color: var(--light-gray);
  font-size: var(--fs-6);
  margin-bottom: 12px;
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .card .card-content h4 {
  font-weight: var(--fw-600);
  color: var(--light-blue);
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .col-sm-4:nth-child(1) .card {
  background-color: var(--light-blue);
  border: 0;
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .col-sm-4:nth-child(1) .card .card-header h6 {
  color: var(--white);
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .col-sm-4:nth-child(1) .card .card-content p:nth-child(1) {
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  color: var(--white);
  margin-bottom: 4px;
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .col-sm-4:nth-child(1) .card .card-content p:nth-child(2) {
  color: var(--white-2);
  font-size: var(--fs-6);
  margin-bottom: 12px;
}

#dashboard .mainContent .leftSide .AllExpensesCard .content .col-sm-4:nth-child(1) .card .card-content h4 {
  color: var(--white);
}

/* END OF ALL EXPENSES */


/* QUICK INVOICE */

#dashboard .mainContent .leftSide .quickInvoiceCard {
  width: 100%;
  margin-top: 25px;
  height: min-content;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--white);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .header {
  margin-bottom: 10px;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .header .title {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  color: var(--blue);
  margin-bottom: 0;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .header img {
  width: 50px;
  cursor: pointer;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction {
  margin-bottom: 15px;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .title {
  font-size: var(--fs-5);
  color: var(--blue);
  margin-bottom: 8px;
}

/* TRANSACTION LIST */

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list {
  height: max-content;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--white-3);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list ul {
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  margin-bottom: 0;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list li {
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  width: 210px;
  height: 70px;
  background-color: var(--white-2);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list ul, li {
  display: inline-block;
  white-space: nowrap;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list .card {
  padding: 0;
  height: 100%;
  border: 0;
  background-color: transparent;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list .card img {
  width: 80%;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list .card p {
  margin: 0;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list .card .username {
  font-size: var(--fs-5);
  color: var(--blue);
  font-weight: var(--fw-600);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction .list .card .email {
  font-size: var(--fs-7);
  color: var(--light-gray);
}

/* MONEY SEND FORM */

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm {
  padding-top: 5px;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .row:nth-child(1) {
  margin-bottom: 25px;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm label {
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  color: var(--blue);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .input {
  border: 1px solid var(--white-2);
  background-color: var(--white-2);
  border-radius: 12px;
  width: 100%;
  padding: 15px 20px;
  font-size: var(--fs-6);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .input:focus {
  border: 1px solid var(--light-blue);
  box-shadow: 0 0 0 transparent;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .btn-mount {
  border: 1px solid var(--white-2);
  background-color: var(--white-2);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 15px 15px;
  font-size: var(--fs-6);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .btn-mount:focus {
  border: 1px solid var(--light-blue);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .input-mount {
  border: 1px solid var(--white-2);
  background-color: var(--white-2);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: var(--fs-6);
  padding: 15px 20px 15px 5px;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .input-mount:focus {
  border: 1px solid var(--light-blue);
  border-left: 0;
  box-shadow: 0 0 0 transparent;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm ul li {
  font-size: var(--fs-7);
  cursor: pointer;

}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm ul li:hover {
  background-color: var(--primary);
}

/* BUTTON */

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .button {
  margin-top: 20px;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .btn-addMore {
  border-radius: 12px;
  background-color: transparent;
  width: 48%;
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  color: var(--light-blue);
  padding: 15px;
  border: 1px solid transparent;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .btn-addMore:hover {
  border: 1px solid var(--light-blue);
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .btn-send {
  border-radius: 12px;
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  width: 48%;
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  color: var(--white-2);
  padding: 15px;
}

#dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .btn-send:hover {
  border: 1px solid var(--light-blue-hover);
  background-color: var(--light-blue-hover);
}

/* END OF QUICK INVOICE */
/* END OF LEFT SIDE */


/* RIGHT SIDE */

#dashboard .mainContent .rightSide {
  padding: 0 30px;
}

#dashboard .mainContent .rightSide .myCard {
  width: 100%;
  height: max-content;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--white);
}

#dashboard .mainContent .rightSide .myCard .title {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  color: var(--blue);
  align-self: stretch;
  margin-bottom: 8px;
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .header {
  height: 50px;
  margin-top: 10px;
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .header p {
  font-size: 20px;
  color: var(--blue);
  font-weight: var(--fw-600);
  margin-bottom: 0;
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .header button {
  font-size: 16px;
  color: var(--light-blue);
  font-weight: var(--fw-500);
  border: 0;
  background: transparent;
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .transactionList .date {
  font-size: var(--fs-5);
  color: var(--light-gray);
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .transactionList .itemList {
  border-radius: 12px;
  background-color: var(--white-2);
  padding: 16px;
  margin-bottom: 10px;
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .transactionList .itemList p {
  margin-bottom: 0;
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .transactionList .itemList .name {
  font-size: var(--fs-5);
  color: var(--blue);
  font-weight: var(--fw-600);
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .transactionList .itemList .nominal-income , .nominal-expenses {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .transactionList .itemList .nominal-income {
  color: var(--mint);
}

#dashboard .mainContent .rightSide .myCard .transactionHistory .transactionList .itemList .nominal-expenses {
  color: var(--rose);
}

/* END OF RIGHT SIDE */

/* *<---------- END OF MAIN CONTENT ---------->* */




/* *\_______ RESPONSIVE FOR _______/ */
/* *<----------- MOBILE -----------> */

@media screen and (max-width:600px) {

  /* SIDE BAR */
  #dashboard .container-fluid .sideBar {
    display: none;
  }

  /* MAIN CONTENT */
  /* LEFT SIDE */
  #dashboard .mainContent .leftSide {
    padding: 0;
  }

  #dashboard .mainContent .leftSide .AllExpensesCard .header .btn-dropdown {
    font-size: var(--fs-7);
  }

  #dashboard .mainContent .leftSide .AllExpensesCard {
    border-radius: 0;
  }

  #dashboard .mainContent .leftSide .AllExpensesCard .content .card .card-header {
    margin-bottom: 20px;
  }

  #dashboard .mainContent .leftSide .AllExpensesCard .content .card img {
    width: 45px;
  }

  #dashboard .mainContent .leftSide .quickInvoiceCard .latestTransaction {
    margin-bottom: 10px;
  }

  #dashboard .mainContent .leftSide .quickInvoiceCard {
    border-radius: 0;
  }

  #dashboard .mainContent .leftSide .quickInvoiceCard .header img {
    width: 40px;
  }

  #dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .row:nth-child(1) {
    margin-bottom: 16px;
  }

  #dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .btn-addMore {
    font-size: var(--fs-6);
    padding: 10px;
  }

  #dashboard .mainContent .leftSide .quickInvoiceCard .moneySendForm .btn-send {
    font-size: var(--fs-6);
    padding: 10px;
  }

  /* RIGHT SIDE */

  #dashboard .mainContent .rightSide {
    padding-left: 0;
    padding-right: 0;
  }

  #dashboard .mainContent .rightSide .myCard {
    border-radius: 0;
  }

  #dashboard .mainContent .rightSide .myCard .transactionHistory .header {
    height: 40px;
    margin-top: 20px;
  }

  #dashboard .mainContent .rightSide .myCard .transactionHistory .transactionList .itemList {
    margin-bottom: 15px;
  }

}

/* *\_______ END OF RESPONSIVE FOR _______/ */
/* *<--------------- MOBILE --------------> */